@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300!important;
  width: 100%!important;
  height: 100%!important;
}

@font-face {
    font-family: "Arista";
    src: url(./fonts/Arista.woff) format("woff");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-navy {
	background: #028B88!important;
	background: linear-gradient(180deg, #006283, #06C98E)!important;
}

.h-95 {
	height: 95%!important;
}

.h-5 {
	height: 5%!important
}

.h-10 {
	height: 10%!important;
}

@media screen and (min-width: 950px) {
	.h-md-10 {
		height: 10%!important;
	}

	.h-md-95 {
		height: 90%!important;
	}
}

.heading-font {
	font-family: 'Arista'!important;
}